.main {
    width: 1120px;
    margin: 90px auto;
    background-color: #e4ff68;
    padding: 20px;
}
.articleName {
    font-size: 72px;
    margin: 0;
    padding: 0;
}
.articleContent {
    font-size: 24px;
    margin: 0;
}
.likes, .dislikes, .views, .theme {
    font-size: 30px;
}
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.editArticleLink {
    color: black;
    font-size: 21px;
    margin-top: 20px;
}
.deleteArticleButton {
    color:red;
    font-size: 21px;
    margin-top: 0px;
}
.liked, .disliked {
    color: blue;
}